/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-heading,
.navbar-heading {
  font-size: 0.85rem;
  text-transform: uppercase;
}

.cpanel-sidebar {
  height: 100vh;
  max-width: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.cpanel-nav-item {
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.sidebar-item:hover,
.cpanel-nav-item:hover {
  background-color: rgb(104, 121, 116);
}

.alt-grid [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.alt-grid .row {
  margin-left: 0;
  margin-right: 0;
}

.sm-btn {
  width: 100px;
  margin-right: 20px;
}

#cpanel-navbar {
  display: none;
}

@media (max-width: 1020px) {
  #cpanel-navbar {
    display: block;
  }
  #cpanel-sidebar {
    display: none;
  }
}

.navbar .dropdown .dropdown-menu-panel {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .icon {
  position: absolute;
  padding: 10px;
  cursor: pointer;
}

/* align icon */
.left-addon .icon {
  left: 0px;
}
.right-addon .icon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}

.expandable-card {
  width: 30rem;
}

.dt-icon {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.dt-icon:hover {
  color: rgb(138, 154, 156);
}

.modalBtn, .modalBtn:active {
  display: none;
}

.tag-icon:hover {
  cursor: pointer;
  color: darkred;
}

.inline {
  display: inline!important;
}

